[Unit]
Description=A command to run metagps for kismet
After=syslog.target network.target

[Service]
WorkingDirectory=/home/{{ kismet_user }}/python-kismet-metagpsd/
ExecStart=/usr/bin/python3 metagpsd.py --connect {{ metagps_connect }} --metagps {{ sensor_name }} --apikey {{ api_key }}

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target